<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <button onclick="window.location.href='https://raul-gamero.github.io/Portfolio/index.html'">Go to Portfolio</button>
  </head>
  <body>
    {{{body}}}
  </body>
</html>


