<nav class="index-navbar">
    <ul class="index-nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/admincourses">Courses</a></li>
        <li><a href="/auth/login-page">Logout</a></li>
    </ul>
</nav>

<h1>Management Courses</h1>


<button onclick="document.getElementById('create-course-form').style.display='block'" class="create-button">Create New Course</button>
<form id="create-course-form" action="/admincourses/create" method="POST" style="display:none;">
    <input type="text" name="title" placeholder="Course Title" required>
    <input type="text" name="description" placeholder="Course Description" required>
    <button type="submit" class="save-button">Save</button>
</form>

<div class="courses-information">
    {{#each courses}}
    <div class="course">
        <p><strong>Title:</strong> {{this.title}}</p>
        <p><strong>Description:</strong> {{this.description}}</p>
    </div>
    {{/each}}
</div>

<section class="index-unique-features">
    <h2 class="index-features-title">What Makes Us Stand Out</h2>
    <div class="index-feature">
        <div class="index-feature-number">01.</div>
        <div class="index-feature-content">
            <h3 class="index-feature-title">Interactive Virtual Lessons</h3>
            <p>Engage in immersive learning with cutting-edge technology.</p>
            <img src="/img/1.jpeg" alt="Interactive Virtual Lessons" class="index-feature-image" style="width: 300px; height: 260px;">
        </div>
    </div>
    <div class="index-feature">
        <div class="index-feature-number">02.</div>
        <div class="index-feature-content">
            <h3 class="index-feature-title">Expert Language Instructors</h3>
            <p>Receive personalized guidance from seasoned language professionals.</p>
            <img src="/img/2.jpeg" alt="Expert Language Instructors" class="index-feature-image" style="width: 300px; height: 260px;">
        </div>
    </div>
    <div class="index-feature">
        <div class="index-feature-number">03.</div>
        <div class="index-feature-content">
            <h3 class="index-feature-title">Cultural Enrichment Emphasis</h3>
            <p>Experience French culture alongside language proficiency.</p>
            <img src="/img/3.jpeg" alt="Cultural Enrichment" class="index-feature-image" style="width: 300px; height: 260px;">
        </div>
    </div>
</section>