<nav class="index-navbar">
    <ul class="index-nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/auth/login-page">Logout</a></li>
    </ul>
</nav>

<h1>Eres el admin!</h1>