<h1 class="index-tittle">{{title}}</h1>
<h2>Discover the Legacy of French Voyage Akademie</h2>
<p>French Voyage Akademie is a leading online academy dedicated to teaching French for travel and career success.</p>
<h2>Our Comprehensive Range of Services</h2>
<ul>
    <li>French Language Courses</li>
    <li>Career Preparation</li>
    <li>Traveler’s Survival Kit</li>
</ul>
