<nav class="index-navbar">
    <ul class="index-nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/login-page">Logout</a></li>
    </ul>
</nav>

email: {{ toUpperCase email }}