body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background start*/
  background-image: url('../img/1.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  /*background end*/ 
}

a {
  color: #00B7FF;
}
/*INDEX-HBS*/
.index-navbar {
  background-color: #2c3e50;
  padding: 10px 20px;
  text-align: center;
}

.index-nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.index-nav-links li {
  display: inline;
  margin-right: 20px;
}

.index-nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.index-nav-links a:hover {
  color: #3498db;
  transition: color 0.3s ease;
}

.index-intro-text, .index-title, .index-discover, .index-description, .index-mission {
  text-align: center;
  color: #2c3e50;
}

.index-title {
  font-size: 2rem;
  font-weight: bold;
}

.red, .blue {
  color: #3498db; /* Adjust the color to fit your design */
}

.index-services-title {
  text-align: center;
  color: #2980b9;
}

.index-services-list {
  list-style: none;
  padding: 0;
}

.index-service strong {
  font-size: 1.25rem;
}

.index-service-details {
  margin: 10px 0 20px 0;
  list-style-type: circle;
  margin-left: 20px;
}

.index-unique-features {
  text-align: center;
  padding: 20px;
  background-color: #ecf0f1;
}

.index-feature-number {
  font-size: 1.5rem;
  color: #e74c3c;
}

.index-feature-title {
  font-size: 1.2rem;
  color: #34495e;
}

.index-feature-content {
  margin: 10px;
}

.index-feature-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}
/*INDEX-HBS*/

