body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background start*/
  background-image: url('../../img/background1.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  /*background end*/ 
}

a {
  color: #00B7FF;
}
/*INDEX-HBS*/
.index-tittle {
  margin: 0 0 20px 0;
  padding: 0;
  color: #20d3eb;
}
.red {
  margin: 0 0 20px 0;
  padding: 0;
  color: #FF4136;
}
.blue {
  margin: 0 0 20px 0;
  padding: 0;
  color: #0074D9;
}
/*INDEX-HBS*/

ul {
  list-style-type: none; /* Elimina los bullets predeterminados de la lista */
  padding: 0;
}

ul li strong {
  font-size: 18px; /* Hace los subtítulos de las listas más grandes */
  color: #333;
}

ul li ul {
  margin-top: 5px;
  margin-bottom: 15px;
}